<div [style.background]="bar_background" class="ACCOUNT_BAR">
    <div class="TITLE_BAR">
        <p class="TITLE">{{ account.name }}</p>
        @if(bar_type !== 'NAME_ONLY') {
            <img class="BANK_LOGO" [src]="bank_logo">
        }
    </div>
    @if(bar_type == 'FUNDS_ONLY' || bar_type === 'FULL') {
        <div class="AVAIBLE_FUNDS">
            <p class="DESC">Dostępne środki</p>
            <div class="FUNDS">
                <p class="AMOUNT">{{ account_funds_data.avaible_funds | number_separator }}</p>
                <p class="CURRENCY">{{ account.currency }}</p>
            </div>
        </div>
    }
    @if(bar_type === 'FULL') {
        <div class="STATS">
            <p class="DESC">W ciągu ostatnich 30 dni</p>
            <div class="VALUES">
                <div [style.color]="account.apperance.stats_alternative_colors.plus !== null ? account.apperance.stats_alternative_colors.plus : 'var(--app-green)'" class="PLUS">
                    <p class="AMOUNT">{{ account_funds_data.stats_data.plus| number_separator }}</p>
                    <p class="CURRENCY">{{ account.currency }}</p>
                </div>
                <div [style.color]="account.apperance.stats_alternative_colors.minus !== null ? account.apperance.stats_alternative_colors.minus : 'var(--app-red)'" class="MINUS">
                    <p class="AMOUNT">{{ account_funds_data.stats_data.minus | number_separator }}</p>
                    <p class="CURRENCY">{{ account.currency }}</p>
                </div>
            </div>
        </div>
    }
</div>