div.TRANSACTIONS_LIST {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 58vh;
    overflow-y: scroll;
    gap: 1.17vh;

    transaction_bar {
        width: 100%;
    }

    p.NO_TRANSACTIONS {
        font-size: 1.2rem;
        font-weight: 500;
        opacity: .5;
    }
}