div.PAGE {

    div.ACCOUNT {
        width: 91.34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: flex-start;
        padding-inline: 4.32%;
        padding-block: 1.7vh;
        color: white;
        gap: 1.17vh;

        p.AVAIBLE_FUNDS {
            font-size: 1.6rem;
            font-weight: 500;
            width: 100%;
            text-align: right;
    
            span {
                font-size: 0.58em;
                font-weight: 500;
            }
        }
    }
    
    div.ACCOUNT_DATA {
        width: 91.34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: flex-start;
        padding-block: 1.7vh;
        gap: 1.76vh;

        p.TITLE {
            font-size: 1.58rem;
            font-weight: 400;
            width: 100%;
            text-align: left;
        }

        div.ACCOUNT_DEBET_LIMIT,
        div.ACCOUNT_DEBET_INTEREST {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: flex-start;
            gap: 1.17vh;

            p.TITLE {
                font-weight: 300;
                font-size: 1rem;
                width: 100%;
                text-align: left;
            }

            p.VALUE {
                font-size: 1.58rem;
                font-weight: 500;
                width: 100%;
                text-align: right;
            }
        }
    }

    button.GO_TO_TRANSFER_PAGE {
        width: 91.34%;
        height: 3rem;
        border-radius: .88rem;
        background-color: var(--app-accent);
        color: white;
        font-size: 1rem;
        font-weight: 700;
    }
}