div.FILTER_OPTIONS {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;

    account_filter {
        width: 100%;
    }

    amount_filter {
        width: 92%;
    }
}