div.FILTER_OPTIONS {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;

    account_filter {
        width: 100%;
    }

    div.OTHER_FILTERS {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw;
        width: 92%;

        amount_filter,
        categorie_filter {
            max-width: 100%;
        }
    }
}