<div class="TRANSACTION_CHOOSE_BAR">
    <div (click)="changeComponentOpenessState()" class="TOP">
        <p [class.CLOSED]="!component_open && choosed_option == null" class="TITLE">Rodzaj</p>
        @if (choosed_option !== null && !component_open) {
            <div [@badge] class="OPTION_BADGE">
                @switch (choosed_option) {
                    @case ('income') {
                        Dochoód
                    }
                    @case ('expense') {
                        Wydatek
                    }
                }
            </div>
        }
    </div>
    @if (component_open) {
        <div [@switch] class="SWITCH">
            <div (click)="setOption('income')" [class.CHOOSED]="choosed_option == 'income'" class="OPTION">Dochód</div>
            <div (click)="setOption('expense')" [class.CHOOSED]="choosed_option == 'expense'" class="OPTION">Wydatek</div>
        </div>
    }
</div>