div.PAGE {
    gap: 1.7vh;
    padding-top: 1.17vh;

    transaction_type_choose_with_title, 
    receiver_choose_list,
    text_input_bar,
    number_input,
    date_choose_bar,
    account-bar {
        width: 91.34vw;
        max-height: 40vh;
    }

    category_choose_scroll {
        width: 100vw;
    }
}