<div class="PAGE">
    <account-bar [bar_data]="ACCOUNT_BAR_DATA" [bar_type]="'FUNDS_ONLY'" />
    <date_choose_bar [inputed_date]="new_transaction.date" (choosen_date)="handleFormInput('date', $event)" />
    <transaction_type_choose_with_title [choosed_type]="transaction_type" (choosed_option_type)="handleFormInput('transaction_type', $event)" />
    <category_choose_scroll [pre_selected_category_id]="new_transaction.category_id" [CATEGORIES_LIST]="CATEGORIES_LIST" (choosen_categorie)="handleFormInput('category_id', $event)" />
    <receiver_choose_list [pre_selected_receiver_id]="new_transaction.receiver_id" (choosed_receiver_id)="handleFormInput('receiver_id', $event)" [RECEIVERS_LIST]="RECEIVERS_LIST" [TRANSACTION_TYPE]="transaction_type" />
    <number_input [show_minus]="false" [pre_inputed_value]="new_transaction.amount" (inputed_value)="handleFormInput('amount', $event)" [title]="'Kwota'" [suffix]="'PLN'" />
    <text_input_bar [pre_inputed_text]="new_transaction.description" (inputed_text)="handleFormInput('desc', $event)" [title]="'Opis'" [placeholder]="'nie wymagane'" />
</div>