@if (is_box_open) {
    <div class="RECEIVER_CHOOSE_BOX">
        <input (input)="filterReceivers($event)" type="text" class="SEARCH_BAR" placeholder="SZUKAJ...">
        @if (choosed_receiver) {
            <p (click)="chooseReceiver(null)" class="RESET_BUTTON">RESETUJ</p>
        }
        <div class="LIST">
            @for (receiver of receivers_list; track receiver.id) {
                <div (click)="chooseReceiver(receiver)" class="RECEIVER">
                    <img [src]="receiver.logo_src">
                    <p [class.CHOSEN]="choosed_receiver?.id === receiver.id">{{ receiver.name }}</p>
                </div>
            }
        </div>
    </div>
} @else if (!is_box_open && choosed_receiver) {
    <p (click)="openBox()" class="OPEN_BOX_BUTTON CHOOSED">{{ choosed_receiver.name }}</p>
} @else {
    <p (click)="openBox()" class="OPEN_BOX_BUTTON">
        @switch (TRANSACTIONS_TYPE) {
            @case ('income') {Nadawca}
            @case ('expense') {Odbiorca}
            @case (null) {Nadawca / Odbiorca}
        }
    </p>
}
