div.OPTIONS {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2.5vw;
    padding: .7vh 2.6vw;
    background-color: var(--app-accent);
    color: white;
    gap: 2.5vw;
    max-width: 100%;
    font-weight: 600;
    font-size: 1rem;

    p.OPT {
        padding: .75vh 1.2vw;
        border-radius: 2.5vw;

        &.CHOOSED {
            background-color: white;
            color: black;
        }
    }
}

p.OPEN_BOX_BUTTON {
    font-size: 1rem;
    font-weight: 600;
    border: .75vw solid var(--app-accent);
    border-radius: 2.5vw;
    padding: 1.17vh 3.8vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &.CHOOSED {
        background-color: var(--app-accent);
        color: white;
    }
}