div.NAV_BAR {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 92vw;
    padding-inline: 4vw;
    position: absolute;
    bottom: 4.5vh;
    left: 0;
    z-index: 10;

    div.BLANK_SPOT {
        width: 12.7vw;
        height: 12.7vw;
    }
}