div.TRANSACTION_BAR {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div.LEFT_SIDE {
        display: flex;
        flex-direction: row;
        gap: 2.5vw;
        align-items: center;
        justify-content: center;

        div.CATEGORY_ICON {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12.72vw;
            height: 12.72vw;
            background-color: var(--app-accent);
            border-radius: 50%;
    
            img {
                width: 65%;
                object-fit: contain;
            }
        }
    
        div.TRANSACTION_DESC {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
    
            p.DESC {
                font-size: 1rem;
                font-weight: 700;
            }
    
            p.RECEIVER {
                font-size: 0.75rem;
                font-weight: 500;
            }
        }
    }

    div.RIGHT_SIDE {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        p.DATE {
            font-size: .7rem;
            font-weight: 700;
        }

        p.PRICE {
            font-size: 1rem;
            font-weight: 700;
    
            &.INCOME {
                color: green;
            }
        }
    }

}