<div class="TRANSACTION_BAR">
    <div class="LEFT_SIDE">
        <div class="ICONS">
            <img class="CATEGORY_ICONS" [src]="component_data.category.logo_src.light" />
            <img class="RECEIVER_LOGO" [src]="component_data.receiver.logo_src">
        </div>
        <div class="TRANSACTION_DESC">
            <p class="DESC">{{ component_data.description ? component_data.description : component_data.category.name }}</p>
            <p class="RECEIVER">{{ component_data.receiver.name }}</p>
        </div>
    </div>
    <div class="RIGHT_SIDE">
        <p class="DATE">{{ component_data.date | date:'dd.MM.yyyy' }}</p>
        <p [class.INCOME]="component_data.transaction_price > 0" class="PRICE">{{ component_data.transaction_price | number_separator }} {{ component_data.transaction_currency }}</p>
    </div>
</div>