div.BANK_CHOOSE_BAR {
    width: 100vw;
    display: flex;
    flex-direction: column;

    p.TITLE {
        font-size: 1.58rem;
        font-weight: 400;
        width: 100%;
        text-align: left;
        padding: 1.7vh 4.32vw;

        &.INACTIVE {
            opacity: 0.2;
        }
    }

    div.BANK_LIST {
        width: 91.36vw;
        display: flex;
        flex-direction: row;
        gap: 3.8vw;
        align-items: center;
        justify-content: flex-start;
        overflow-x: scroll;
        padding-inline: 4.32vw;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        div.BANK {
            min-width: 38vw;
            min-height: 38vw;
            border-radius: 5vw;
            background-color: var(--app-accent);
            display: flex;
            flex-direction: column;
            gap: 1.7vh;
            align-items: center;
            justify-content: center;

            img.LOGO {
                width: 15vw;
                height: 15vw;
                object-fit: contain;
            }

            p.NAME {
                font-size: 0.8rem;
                font-weight: 700;
            }
        }
    }


    div.CLOSED_VERSION {
        width: 91.36vw;
        padding: 1.7vh 4.32vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 3.8vw;

        img.BANK_LOGO {
            height: 4vh;
            max-width: 20vw;
            object-fit: contain;
        }

        p.BANK_NAME {
            font-size: 1.58rem;
            font-weight: 700;
        }
    }
}