<div class="PAGE">
    <div class="ACCOUNT_CAROUSEL">
        <div [style.right.vw]="from_carousel_x_offset" class="CAROUSEL">
            @for (account of all_accounts; track account.account.id) {
                <account-bar [bar_type]="'FUNDS_ONLY'" [account]="account.account" [account_funds_data]="account.funds_data" [account_funds_diff]="exchange_from_amount ? -exchange_from_amount : 0" />
            }
        </div>
    </div>
    <carousel_switcher (change_direction)="reactToUserChangeAccount('from', $event)" [block_go_left]="from_block_sides.left" [block_go_right]="from_block_sides.right" [actual_active_index]="from_active_account_index" [carousel_list]="all_accounts_list_indicator"/>
    <div class="ACCOUNT_CAROUSEL">
        <div [style.right.vw]="to_carousel_x_offset" class="CAROUSEL">
            @for (account of all_accounts; track account.account.id) {
                <account-bar [bar_type]="'FUNDS_ONLY'" [account]="account.account" [account_funds_data]="account.funds_data" [account_funds_diff]="exchange_to_amount ? exchange_to_amount : 0" />
            }
        </div>
    </div>
    <carousel_switcher (change_direction)="reactToUserChangeAccount('to', $event)" [block_go_left]="to_block_sides.left" [block_go_right]="to_block_sides.right" [actual_active_index]="to_active_account_index" [carousel_list]="all_accounts_list_indicator"/>
    @if (exchange_from_currency !== exchange_to_currency) {
        <div class="EXCHANGE_RATE">
            <number_input [title]="'Kurs'" (inputed_value)="reactToUserExchangeRateInput($event)" [pre_inputed_value]="exchange_rate ? exchange_rate : 0" />
            @if(exchange_effective_date) {
                <p class="EXCHANGE_RATE_DISC">Kurs średni NBP z dnia {{ exchange_effective_date }}</p>
            }
        </div>
    }
    <number_input (inputed_value)="reactToUserExchangeFromAmountInput($event)" [block_openess_state_change]="true" [component_open]="true" [title]="exchange_from_currency !==  exchange_to_currency ? 'Kwota z konta' : 'Kwota'" [suffix]="exchange_from_currency" [show_value_as_money]="true" [pre_inputed_value]="exchange_from_amount ? exchange_from_amount : 0" />
    @if (exchange_from_currency !== exchange_to_currency) {
        <number_input (inputed_value)="reactToUserExchangeToAmountInput($event)" [block_openess_state_change]="true" [component_open]="true" [title]="'Kwota na konto'" [suffix]="exchange_to_currency" [show_value_as_money]="true" [pre_inputed_value]="exchange_to_amount ? exchange_to_amount : 0" />
    }
</div>