<div class="ACCOUNT_CHOOSE_LIST">
    @if(!choosed_account_bar_data) {
        <div [@TITLE_BAR] (click)="changeAccount(null)" class="TITLE_BAR">
            <p class="TITLE" [class.INACTIVE]="!component_open">Rachunek</p>
        </div>
    } @else {
        <account-bar (click)="changeAccount(null)" [bar_type]="'NAME_ONLY'" [bar_data]="choosed_account_bar_data" />
    }
    @if(component_open) {
        <div [@ACCOUNTS_LIST] class="ACCOUNTS_LIST">
            @for(acc of ACCOUNTS_LIST; track acc.user_account_id ? acc.user_account_id : acc.account.id) {
                <account-bar (click)="changeAccount(acc)" [bar_type]="'NAME_ONLY'" [bar_data]="acc" />
            }
        </div>
    }
</div>