div.ACCOUNT_BAR {
    max-width: 100%;
    border-radius: 3.88vw;
    color: white;
    padding: 1.7vh 3.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.17vh;

    account_bar_title_bar,
    account_bar_funds,
    account_bar_debt_limit,
    account_bar_stats {
        width: 100%;
    }

}