<div [style.background]="bar_background" class="ACCOUNT_BAR">
    <account_bar_title_bar 
        [account_name]="account.name" 
        [bank_logo_src]="account.apperance.bank_logo_src" />
    @if (bar_type !== 'NAME_ONLY') {
        <account_bar_funds 
            [account_avaible_funds]="account_real_time_avaible_funds"
            [account_currency]="account.currency" />
    }
    @if (bar_type === 'WITH_LIMIT') {
        <account_bar_debt_limit 
            [account_currency]="account.currency" 
            [account_debt_limit]="account_funds_data.debet_limit"
            [account_funds_diff]="account_funds_diff"
            [account_avaible_funds]="account_funds_data.avaible_funds" />
    }
    @if (bar_type === 'WITH_STATS') {
        <account_bar_stats 
            [account_currency]="account.currency"
            [account_stats_alternative]="account.apperance.stats_alternative_colors"
            [account_stats_data]="account_stats_data"/>
    }
</div>