<div class="PAGE">
    <div class="WELCOME_BAR">
        <div class="TEXT">
            <p class="WELCOME_TEXT">Dzień dobry</p>
            <p class="USER_NAME">{{ PROFILE.name }} {{ PROFILE.surname }}</p>
        </div>
        <img [src]="PROFILE.image" />
    </div>
    @if (ACCOUNTS_CAROUSEL_DATA.length !== 0) {
        <accounts_carousel [accounts_data]="ACCOUNTS_CAROUSEL_DATA" (active_account_number)="handleActiveAccountChange($event)" />
        <div class="TRANSACTIONS">
            <p class="TITLE">Lista transakcji</p>
            <div class="LIST">
                @for(tr of account_transactions_list; track tr.transaction_id) {
                    <transaction-bar [component_data]="tr" />
                }
            </div>
            <div class="GLOW"></div>
        </div>
    } @else {
        <p class="NO_ACCOUNTS">Brak kont bankowych przejdź do zakładki konta i dodaj jedną</p>
    }
</div>