div.PAGE {
    width: 91.36vw;
    height: 96vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.7vh;
    align-items: center;
    justify-content: flex-start;
    padding: 2vh 4.32vw;

    div.WELCOME_BAR {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div.TEXT {
            display: flex;
            flex-direction: column;
            gap: 0.6vh;
            align-items: flex-start;
            justify-content: center;

            p {
                &.WELCOME_TEXT {
                    font-size: 1rem;
                    font-weight: 400;
                    color: var(--font-color-secendary);
                }

                &.USER_NAME {
                    font-size: 1.58rem;
                    font-weight: 600;
                }
            }
        }

        img {
            width: 12.5vw;
            object-fit: contain;
            border-radius: 50%;
        }
    }

    accounts_carousel {
        width: 100vw;
    }

    div.TRANSACTIONS {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.17vh;
        position: relative;

        p.TITLE {
            width: 100%;
            font-size: 1rem;
            font-weight: 700;
            text-align: left;
        }

        div.LIST {
            width: 100%;
            height: 47.5vh;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 1.17vh;
            padding-bottom: 2.5vh;

            //* HIDE SCROLLBAR
            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        div.GLOW {
            position: absolute;
            bottom: -1vh;
            left: 0;
            width: 100%;
            height: 2.5vh;
            background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, var(--app-theme) 25%);
        }
    }

    p.NO_ACCOUNTS {
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: 400;
    }
}