<div class="RECEIVER_CHOOSE_BAR">
    <div (click)="changeComponentOpenessState()" class="TOP">
        <p [class.CLOSED]="!component_open && choosed_receiver == null" class="TITLE">
            @switch (TRANSACTION_TYPE) {
                @case ('income') {
                    Nadawca
                }
                @case ('expense') {
                    Odbiorca
                }
            }
        </p>
        @if (!component_open && choosed_receiver) {
            <div [@badge] class="RECEIVER_BADGE">{{ choosed_receiver.name }}</div>
        }
    </div>
    @if (component_open) {
        <div [@list] class="SEARCH_BAR">
            <input (input)="handleSearchBarInput($event)" type="text" class="SEARCH_INPUT" />
            <p>INNY</p>
        </div>
        <div [@list] class="RECEIVER_LIST">
            @for(receiver of receivers_list; track receiver.id) {
                <div (click)="setReceiver(receiver)" class="RECEIVER">
                    <div class="LOGO">
                        <img [src]="receiver.logo_src">
                    </div>
                    <p>{{ receiver.name }}</p>
                </div>
            }
        </div>
    }
</div>