<div class="PAGE">
    <p class="TITLE">Konta</p>
    @if (user_accounts_list_to_display.length === 0) {
        <p class="NO_ACCOUNTS">Brak kont bankowych</p>
    } @else {
        <div class="ACCOUNTS_LIST HIDE_SCROLL_BAR">
            @for (item of user_accounts_list_to_display; track $index) {
                <account-bar 
                    [bar_type]="'WITH_STATS'"
                    [account]="item.account"
                    [account_funds_data]="item.funds_data"
                    [account_stats_data]="item.stats_data" />
            }
        </div>
    }
</div>