<div class="TRANSACTIONS_LIST">
    <p class="TITLE">Najnowsze transakcje z 30 dni</p>
    <div class="LIST HIDE_SCROLL_BAR">
        @if (transactions_list !== null) {
            @for(tr of transactions_list; track tr.transaction_id) {
                <scroll_side_options [@transaction] (leftSideClicked)="handleSideOptionClicked(tr.transaction_id)" (rightSideClicked)="handleSideOptionClicked(tr.transaction_id)" [component_individual_id]="tr.transaction_id" [LEFT_SIDE]="scroll_side_options" [RIGHT_SIDE]="scroll_side_options" >
                    <transaction_bar (click)="handleTransactionClicked(tr.transaction_id)" [component_data]="tr" />
                </scroll_side_options>
            }
        } @else {
            <loader />
        }
    </div>
</div>