<div class="TRANSACTIONS_LIST">
    <p class="TITLE">Najnowsze transakcje z 30 dni</p>
    <div class="LIST HIDE_SCROLL_BAR">
        @if (transactions_list !== null) {
            @for(tr of transactions_list; track tr.transaction_id) {
                <side_options 
                    [@transaction] 
                    [SIDE]="[
                        { color: 'var(--app-accent)', text: 'EDYTUJ', image: null, return_value: tr.transaction_id}, 
                        { color: 'red', text: 'USUŃ', image: null, return_value: tr.transaction_id }
                    ]" 
                    (sideClicked)="handleSideOptionClicked($event.option_number, $event.data)"
                >
                    <transaction_bar [component_data]="tr" />
                </side_options>
            }
        } @else {
            <loader />
        }
    </div>
</div>