<div class="ACCOUNT_CHOOSE_BAR">
    @if(!choosed_account) {
        <div [@anima] (click)="changeAccount(null)" class="TOP">
            <p class="TITLE" [class.INACTIVE]="!component_open">Rachunek</p>
            @if(component_open) {
                <select class="CURRENCY_SWITCH">
                    <option>PLN</option>
                    <option>EUR</option>
                    <option>USD</option>
                </select>
            }
        </div>
        } @else {
            <account-bar (click)="changeAccount(null)" [bar_type]="'NAME_ONLY'" [account]="choosed_account" />
        }
    @if(component_open) {
        @for(account of accounts_list; track account.id) {
            <account-bar (click)="changeAccount(account)" [bar_type]="'NAME_ONLY'" [account]="account" />
        }
    }
</div>