div.ACCOUNT_CHOOSE_BAR {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.7vh;

    div.TOP {
        display: flex;
        width: 91.36vw;
        padding: 1.7vh 4.32vw;
        padding-bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p.TITLE {
            font-size: 1.58rem;
            font-weight: 400;

            &.INACTIVE {
                opacity: 0.2;
            }
        }

        select.CURRENCY_SWITCH {
            font-size: 1rem;
            font-weight: 700;
            color: var(--font-color);
            border: 2px solid var(--font-color);
            padding: .6vh 1.2vw;
            border-radius: 5vw;
        }
    }

    div.ACCOUNTS_LIST {
        display: flex;
        flex-direction: column;
    }
}