div.PAGE {
    width: 91.36vw;
    height: 96vh;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2vh 4.32vw;
    justify-content: flex-start;
    gap: 3.5vh;

    p {
        &.WELCOME {
            font-size: 1.76rem;
            font-weight: 700;
        }
    }

    div.USER_IMAGE {
        width:  57.25vw;
        height: 57.25vw;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }


    text_input_bar {
        width: 100%;
    }
}