div.ACCOUNTS_CAROUSEL {
    width: 100%;

    div.CAROUSEL {
        min-width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        overflow: visible;
        position: relative;
        top: 0;
        right: 0;
        transition: right .3s ease-in-out;

        div.ALL_ACCOUNTS {
            min-width: 92vw;
            padding-inline: 4vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.2vh;

            p.DESC {
                font-size: 1rem;
                font-weight: 400;
            }

            div.FUNDS {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: center;
                gap: 1.5vw;

                p.AMOUNT {
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 2rem;
                }

                p.CURRENCY {
                    font-size: 1.15rem;
                    line-height: 1.15rem;
                    font-weight: 600;
                }
            }
        }

        account-bar {
            padding-inline: 4vw;
            min-width: 92vw;
        }
    }

    carousel_switcher {
        width: 91.34%;
        margin-inline: 4.32%;
        margin-top: 2.5vw;
        display: block;
    }
}