<div class="ACCOUNTS_CAROUSEL">
    <div [style.right.vw]="accounts_carrousel_x_offset" class="CAROUSEL">
        <div class="ALL_ACCOUNTS">
            <p class="DESC">Łącznie dostępnych środków</p>
            <div class="FUNDS">
                <p class="AMOUNT">{{ sum_of_avaible_funds | number_separator }}</p>
                <p class="CURRENCY">PLN</p>
            </div>
        </div>
        @for (acc of accounts_bar_list; track $index) {
            <account-bar 
                [bar_type]="'WITH_STATS'"
                [account]="acc.account" 
                [account_funds_data]="acc.account_funds_data"
                [account_stats_data]="acc.stats_data"
                (click)="goToAccountPage(acc.user_account_id)"
                />
            }
    </div>
    <div class="BOTTOM">
        <arrow_button [class.DISABLED]="active_list_indicator === -1" (click)="changeAccount('left')" [arrow_direction]="'left'" />
        <div class="LIST_INDICATOR">
            <div [class.ACTIVE]="active_list_indicator === -1" class="MAIN_DOT"></div>
            @for (item of accounts_bar_list; track $index) {
                <div [class.ACTIVE]="$index === active_list_indicator" class="DOT"></div>
            }
        </div>
        <arrow_button [class.DISABLED]="active_list_indicator === accounts_bar_list.length - 1" (click)="changeAccount('right')" [arrow_direction]="'right'" />
    </div>
</div>