div.ACCOUNTS_CAROUSEL {
    width: 100%;

    div.CAROUSEL {
        min-width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        overflow-x: scroll;

        //* HIDE SCROLLBAR
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;

        div.ALL_ACCOUNTS {
            min-width: 92vw;
            padding-inline: 4vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.2vh;

            p.DESC {
                font-size: 1rem;
                font-weight: 400;
            }

            div.FUNDS {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: center;
                gap: 1.5vw;

                p.AMOUNT {
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 2rem;
                }

                p.CURRENCY {
                    font-size: 1.15rem;
                    line-height: 1.15rem;
                    font-weight: 600;
                }
            }
        }

        account-bar {
            padding-inline: 4vw;
            min-width: 92vw;
        }
    }

    div.LIST_INDICATOR {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.25vw;
        margin-top: 1.25vh;

        div.MAIN_DOT,
        div.DOT {
            width: 2vw;
            height: 2vw;
            border-radius: 50%;
            opacity: .2;

            &.ACTIVE {
                opacity: 1;
            }
        }

        div.MAIN_DOT {
            border: .75vw solid var(--font-color);
            box-sizing: border-box;
        }

        div.DOT {
            background-color: var(--font-color);
        }
    }
}