<div class="ACCOUNTS_CAROUSEL">
    <div [style.right.vw]="accounts_carrousel_x_offset" class="CAROUSEL">
        <div class="ALL_ACCOUNTS">
            <p class="DESC">Łącznie dostępnych środków</p>
            <div class="FUNDS">
                <p class="AMOUNT">{{ sum_of_avaible_funds | number_separator }}</p>
                <p class="CURRENCY">PLN</p>
            </div>
        </div>
        @for (acc of accounts_bar_list; track $index) {
            <account-bar 
                [bar_type]="'WITH_STATS'"
                [account]="acc.account" 
                [account_funds_data]="acc.account_funds_data"
                [account_stats_data]="acc.stats_data"
                (click)="goToAccountPage(acc.user_account_id)"
                />
            }
    </div>
    <carousel_switcher [carousel_list]="carousel_switcher_config" (actual_active_index)="changeAccount($event)" />
</div>